body {
  background-color: #ffffff;
  color: #212121;
}

.logo {
  color: #000000;
}

.logo-web {
  color: #2196f3;
}

.list {
  list-style: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.section-title {
  color: #212121;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #ffffff */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона футера #2F303A */
